<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  {
    title: 'Login', 
    currentUser: false,
    main_menu: false,
    currentUrl: false
  });
%>
<div class="container">
  <h1 class="text-center mb-4">Login</h1>
  <% if (message) { %>
    <div class="alert alert-success">
      <%= message %>
    </div>
  <% } %>
  <form action="/login" method=post>
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" minlength="8" class="form-control" autocomplete="on" required>
    </div>
    <div class="d-flex justify-content-between">
      <div class="mr-2">
        <button type="submit" class="btn btn-dark">Login</button>
      </div>
      <div class="mr-2">
        <a href="/register">Create new account</a>
      </div>
      <div class="mr-2">
        <a href="/recovery-password">Recovery password</a>
      </div>
    </div>

  </form>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>