<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  {
    title: 'Register',
    currentUser: false,
    main_menu: false,
    currentUrl: false,
  });
%>
<div class="container">
  <h1 class="text-center mb-4">Register</h1>
  <% if (message) { %>
    <div class="alert alert-danger">
      <%= message %>
    </div>
  <% } %>
  <form action="/register" method=post>
    <div class="form-group">
      <label>Name</label>
      <input type="text" required minlength="2" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" required name="email" class="form-control">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" required minlength="8" name="password" class="form-control">
    </div>
    <div class="form-group">
      <label>Confirm password</label>
      <input type="password" required minlength="8" name="password_confirm" class="form-control">
    </div>
    <div class="d-flex justify-content-between">
      <div class="mr-2">
        <button type="submit" class="btn btn-dark">Register</button>
      </div>
      <div class="mr-2">
        <a href="/login">Click here to login</a>
      </div>
      <div class="mr-2">
        <a href="/recovery-password">Recovery password</a>
      </div>
    </div>

  </form>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>