</main>
<footer class="bd-footer mt-auto bg-dark">
  <div class="container-fluid p-3 p-md-5">
    <% if (footer_menu && currentUrl) { %>
      <%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/menus/footer/menu.ejs`, { menu: footer_menu, currentUrl: currentUrl }) %>
    <% } %>
  </div>
</footer>
<script src="/core/themes/boostrap/assets/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>