<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`, { title: 'Home' }) %>
<% if (currentUser) { %>
  <%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/menus/adminMenu.ejs`, { currentUser: currentUser}) %>
<% } %>
<div class="container h-100 pt-4">
  <div class="text-center display-3 mb-3">
    🦕
  </div>
  <h1 class="text-center mb-3">Welcome to Deno CMS!</h1>
  <% if (!currentUser) { %>
    <div class="d-flex justify-content-center">
      <div class="mr-2">
        <a href="/login" class="btn btn-lg btn-primary">Login</a>
      </div>
      <div class="mr-2">
        <a href="/register" class="btn btn-lg btn-outline-secondary">Register</a>
      </div>
    </div>
  <% } %>
</div>
<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`) %>