<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`, { title: 'Demo Upload' }) %>
<% if (currentUser) { %>
  <%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/menus/adminMenu.ejs`, { currentUser: currentUser}) %>
<% } %>
<div class="container h-100 pt-4">
  <h1 class="text-center mb-3">Demo upload</h1>
  <div class="content">
    <form id="demoFormId" enctype="multipart/form-data" action="/upload" method="post">
      <div class="form-group">
        <label for="file">Example file input</label>
        <input class="form-control-file" type="file" name="file" multiple><br>
      </div>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>
</div>
<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`) %>