<input data-type='<%- type %>' class="media form-control-file" type="file" name="<%= name %>">
<a id="media-upload" href="#" class="btn btn-outline-secondary">Upload</a>
<script src="/media/assets/js/mediaUpload.js" type="text/javascript"></script>