<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  {
    title: 'Home',
    currentUser: false,
    main_menu: false,
    currentUrl: false
  });
%>
<div class="container">
  <h1 class="text-center mb-3">Recovery password</h1>
  <form action="/recovery-password" method=post>
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="username" class="form-control" required>
    </div>
    <div class="d-flex justify-content-between">
      <div class="mr-2">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
      <div class="mr-2">
        <a href="/login">Login</a>
      </div>
      <div class="mr-2">
        <a href="/register">Create new account</a>
      </div>
    </div>

  </form>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>