<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Hi, <%= currentUser.name %></a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarCollapse" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/content">Content</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blocks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/taxonomy">Taxonomy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/media">Media</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>