<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`, { title: 'Deno CMS' }) %>
<div class="container h-100 pt-4">
  <div class="text-center display-3 mb-3">
    🦕
  </div>
  <h1 class="text-center mb-3">Page not found</h1>
  <div class="d-flex justify-content-center">
    <div class="mr-2">
      <a href="/" class="btn btn-lg btn-outline-secondary">Home</a>
    </div>
  </div>
</div>
<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`) %>