<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  {
    title: 'Taxonomy',
    currentUser: currentUser,
    main_menu: false,
    currentUrl: false
  });
%>
<div class="container">
  <h1 class="text-center mb-3">Taxonomy</h1>
  <fieldset class="border p-2">
    <legend  class="w-auto">Types</legend>
    <div class="d-flex mb-3">
      <div class="mr-2">
        <a href="/admin/taxonomy/tags" class="btn btn-light">Tags</a>
      </div>
      <div class="mr-2">
        <a href="/admin/taxonomy/categories" class="btn btn-light">Categories</a>
      </div>
    </div>
  </fieldset>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>