<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`, { title: 'Taxonomy' }) %>
<% if (currentUser) { %>
  <%- await include(`${Deno.cwd()}/core/modules/admin/views/adminMenu.ejs`, { currentUser: currentUser}) %>
<% } %>
<div class="container h-100 pt-4">
  <h1 class="text-center mb-3">Taxonomy</h1>
  <fieldset class="border p-2">
    <legend  class="w-auto">Types</legend>
    <div class="d-flex mb-3">
      <div class="mr-2">
        <a href="/admin/taxonomy/tags" class="btn btn-outline-secondary">Tags</a>
      </div>
      <div class="mr-2">
        <a href="/admin/taxonomy/categories" class="btn btn-outline-secondary">Categories</a>
      </div>
    </div>
  </fieldset>
</div>
<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`) %>