<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  {
    title: 'Deno CMS',
    currentUser: false,
    main_menu: false,
    currentUrl: false
  });
%>
<div class="container">
  <div class="text-center display-4 mb-3">
    <img src="/core/themes/boostrap/assets/images/t-rex.png">
  </div>
  <h1 class="text-center mb-4">Page not found</h1>
  <div class="d-flex justify-content-center">
    <div class="mr-2">
      <a href="/" class="btn btn-outline-secondary">Home</a>
    </div>
  </div>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>